<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Rails <%= Rails::VERSION::MAJOR %> Base</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="d-flex flex-column h-100">
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer mt-auto py-3" style="background-color: #f5f5f5;">
      <div class="container">
        <span class="text-muted">This app runs with Rails <b><%= Rails::VERSION::STRING %></b> and uses the <b><%= Rails.configuration.database_configuration[Rails.env]['adapter'] %></b> adapter.</span>
      </div>
    </footer>
  </body>
</html>
