<main class="flex-shrink-0">
  <h1 class="mt-5">Users</h1>

  <p>This is a page where we show a list of users.</p>

  <ul id="users" class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item"><%= user.name %></li>
    <% end %>
  </ul>
</main>
